body{
    background-color: rgb(54, 54, 54);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.interface{
    display: flex;
    gap: 20px;
}

.gridZone{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input[type = color], .clear
{
    width: 100px;
    border-radius: 90px;
    border: none;
}

.gridContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    padding: 0;
}

.grid{
    box-sizing: border-box;
    flex-grow: 1;
    background-color: white;
}


.gridSizeButton{
    color: white;
    font-size: 25px;
    background-color: black;
    border: none;
    border-radius: 180px;
    padding: 10px;
}


.options{
    border: solid black;
    height: 500px;
    width: 100px;
    border-radius: 20px;
    padding: 5px;
}